<app-client-navbar></app-client-navbar>
<section class="py-4 py-5 rl-blue drip-email-marketing Marketing_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="card ">
                    <div class="card-header">Drip Email Marketing</div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, deleniti!</p>
                        <div class="drip-email-phase1 phase mt-3">
                            <h6>Phase 1: Lorem ipsum dolor sit amet consectetur.</h6>
                            <a routerLink="/create-managing-email" class="btn btn-danger"> <i class="fa fa-envelope" style="font-size:18px;margin: 0 5px;"></i> Create & Manage Emails</a>
                        </div>

                        <div class="drip-email-phase2 phase mt-3">
                            <h6>Phase 2: Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                            <a routerLink="/drip-email-campaigns-email" class="btn btn-danger"><i class="fa fa-list" style="font-size:18px;margin: 0 5px;"></i>Create & Manage Campaigns</a>
                        </div>

                        <div class="drip-email-phase3 phase mt-3">
                            <h6>Phase 3: Lorem ipsum dolor sit amet.</h6>
                            <a routerLink="/schedule-compaign-email" class="btn btn-danger"> <i class="fa fa-clock-o" style="font-size:18px;margin: 0 5px;"></i> Schedule Contacts for Campaigns</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>