<app-client-navbar>
</app-client-navbar>
<section class="py-5 rl-blue support-ticket-detailed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Support Ticket System</div>
                    <div class="card-body mx-3">
                        <div class="col-md-12">
                            <div class="support-ticket-table support-ticket-detail-wrapper bg-email">
                                <table class="table ">
                                    <thead>
                                        <tr class="bg-dark">
                                            <th scope="col-md-12">Test</th>

                                            <th scope="col-md-12 " style="text-align: right;">Monday, March 14, 2022 1:53 AM</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mark</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table ">
                                    <thead>
                                        <tr class="bg-dark">
                                            <th scope="col-md-12">Re : Test</th>

                                            <th scope="col-md-12 " style="text-align: right;">Monday, March 14, 2022 1:53 AM</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mark</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <form action="">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Reply:</label>
                                            <textarea name="" id="" class="form-control "></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>