<!--<section class="inner_banner_section blue-bg dashboard_container">
    <div class="container">
        <div
            class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
            <div class="col-md-12 col-lg-12">
                <div class="text-white pb-3 db_page_banner">
                    <h1 class="text-white heading-banner">{{title}}</h1>

                </div>
                <div class="dashboard_menu_list" >
                    <button class="db_mob_menu" (click)="clickEvent()" value="Show DIV" id="bt">Dashboard Menu</button>
                    <div id="cont" class="mobile-menu-list" [ngClass]="customClass ? 'current' : ''">
                         <ul class="db_menus">
                             <li><a href=""><span><img src="assets/images/icons/programing.png" alt=""></span> <p>Website</p></a></li>
                             <li><a class="nav-link" routerLink="/create-listings" routerLinkActive="active"><span><img src="assets/images/icons/shopping-list.png" alt=""></span><p>listing</p> </a></li>
                             <li><a href=""><span><img src="assets/images/icons/lead.png" alt=""></span><p>leads</p></a></li>
                             <li><a href=""><span><img src="assets/images/icons/phone-call.png" alt=""></span><p>Contact</p></a></li>
                             <li><a href=""><span><img src="assets/images/icons/calendar.png" alt=""></span><p>Calender</p></a></li>
                             <li><a href=""><span><img src="assets/images/icons/tasks.png" alt=""></span><p>Task</p></a></li>
                             <li><a href=""><span><img src="assets/images/icons/news.png" alt=""></span><p>Newsletter</p></a></li>
                             <li><a href=""><span><img src="assets/images/icons/advertising.png" alt=""></span><p>marketing</p></a></li>
                             <li><a href=""><span><img src="assets/images/icons/social-media.png" alt=""></span><p>Social</p></a></li>
                             <li><a href=""><span><img src="assets/images/icons/question.png" alt=""></span><p>Help</p></a></li>
                             <li><a href=""><span><img src="assets/images/icons/user.png" alt=""></span><p>profile</p></a></li>
                         </ul>
                    </div>
                 </div>
            </div>
        </div>
        
    </div>
    
</section>
<section class="py-4 pt-5  db_first_panel_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                 <div class="card">
                        <div class="card-header">
                            Road Map
                        </div>    
                         <div class="card-body">
                             <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <a href="" class="btn btn-md btn-brand-03">Road Map</a>
                             <strong>Configure Your Website</strong>
                         </div>
                     
                 </div>
                </div>     
                 <div class="col-md-6 col-sm-6">
                      <div class="card">
                         <div class="card-header">
                             Sign Up Today
                         </div>
                         <div class="card-body">
                             <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <a href="" class="btn btn-md btn-brand-03">Sign Up</a>
                             <strong>Configure Your Website</strong>
                         </div>
                     </div>
                 </div>
             
            </div>   
        
        <div class="row pt-5">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="paragraph">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et distinctio obcaecati perferendis libero! Nesciunt quod accusamus repudiandae aliquam quibusdam id amet sequi at voluptas, esse facere suscipit nemo aliquid quam?</p>
                </div>
            </div>
        </div>
    </div>
</section>-->
<app-client-navbar></app-client-navbar>
<section class="py-5 db_theme_grid_section">
    <div class="container">
        <div class="section-heading-center text-center">
            <h4>New Theme Designs<span class="badge badge-pill badge-success">Just<br /> Release </span></h4>
        </div>

        <div class="section-center text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, laborum eligendi.</p>
            <a routerLink="/themes" class="btn btn-brand-03 btn-md">View Themes </a>
        </div>

        <div class="pt-4 db_theme_grid_pannel">
            <div class="row">
                <div class="col-md-4 col-sm-4 db_theme_item">
                    <div class="content">
                        <a href="">
                            <div class="theme_thumb">
                                <img src="assets/images/icons/demo1.png" alt="">
                            </div>
                            <h3>View Starter IDX Demo</h3>
                        </a>

                    </div>
                </div>
                <div class="col-md-4 col-sm-4 db_theme_item">
                    <div class="content">
                        <a href="">
                            <div class="theme_thumb">
                                <img src="assets/images/icons/demo2.png" alt="">
                            </div>
                            <h3>View Starter IDX Demo</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 db_theme_item">
                    <div class="content">
                        <a href="">
                            <div class="theme_thumb">
                                <img src="assets/images/icons/demo3.png" alt="">
                            </div>
                            <h3>View Starter IDX Demo</h3>
                        </a>


                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section class="py-5 db_new_release_section">

    <div class="container">
        <div class="section-heading-center text-center">
            <h2>Customizable Squeeze and Landing Pages</h2>
        </div>

        <div class="section-center text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, laborum eligendi.</p>
            <a href="" class="btn btn-brand-03 btn-md">Get Started </a>
            <!-- <span>(All Packages)</span> -->
        </div>

        <div class="row py-5 col-wrapper">
            <!--<div class="col mx-md-n5">-->
            <div class="col-md-6 col-sm-6 col-12">
                <div class="new-release-pannel">
                    <div class="new-release-container">
                        <div class="new-button"><span class=" sky-blue button-neww">New </span></div>
                        <h4>Email Property Alerts Page</h4>
                        <!-- <img src="assets/images/icons/email-property-alerts.png" alt="">-->
                        <p>Easily email a property search or a listing to anyone directly from your website.
                            <span>(Agent IDX Packages Only)</span></p>
                    </div>


                    <div class="new-release-container">
                        <div class="new-button"><span class=" sky-blue button-neww">New </span></div>
                        <h4>Email Property Search Results or a Listing to a Friend</h4>
                        <p>Easily email a property search or a listing to anyone directly from your website.
                            <span>(Agent IDX Packages Only)</span></p>
                    </div>

                    <div class="new-release-container">
                        <div class="new-button"><span class="sky-blue button-neww">New </span></div>
                        <h4>Agent Roster & Agent Bio Pages</h4>
                        <p>Easily create an Agent Directory with Agent Bio pages for your website.
                            <span>(All Packages)</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <!--<div class="col mx-md-n5">-->
                <div class="coming-soon-pannel">
                    <div class="coming-soon-container">
                        <div class="new-button"><span class="coming-soon-btn button-neww">Coming Soon </span></div>
                        <h4>Text Message Property Search Results or a Listing to a Friend</h4>
                        <p>Add a Featured Communities section to your website's Home page where visitors can get to your communities listings in one click.
                            <span>( Agent IDX Packages Only)</span></p>
                    </div>

                    <div class="coming-soon-container">
                        <div class="new-button"><span class="coming-soon-btn button-neww">Coming Soon </span></div>
                        <h4>Lender Pages and Lender Shared Marketing</h4>
                        <p>Add a Featured Communities section to your website's Home page where visitors can get to your communities listings in one click.
                            <span>( Agent IDX Packages Only)</span></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row col-wrapper margin-top">
            <!-- <div class="col"></div> -->
            <div class="col-md-8 offset-md-2 ">
                <div class="new-release-pannel align-item-center ">
                    <div class="new-release-container">
                        <div class="new-button"><span class="sky-blue button-neww">New </span></div>
                        <h4>What's Your Home Worth Lead Capture Page</h4>
                        <p>Add a Featured Communities section to your website's Home page where visitors can get to your communities listings in one click.
                            <span>( Agent IDX Packages Only)</span></p>
                        <img src="assets/images/icons/featured-communities.png" alt="">
                    </div>

                    <div class="new-release-container">
                        <div class="new-button"><span class="sky-blue button-neww">New </span></div>
                        <h4>Quick Search - Search by Neighborhood, City, Zip, or MLS #</h4>
                        <p>Add a Featured Communities section to your website's Home page where visitors can get to your communities listings in one click.
                            <span>( Agent IDX Packages Only)</span></p>
                        <img src="assets/images/icons/featured-communities.png" alt="">
                    </div>

                    <div class="new-release-container">
                        <div class="new-button"><span class="sky-blue button-neww">New </span></div>
                        <h4>Responsive Theme Customization</h4>
                        <p>Add a Featured Communities section to your website's Home page where visitors can get to your communities listings in one click.
                            <span>( Agent IDX Packages Only)</span></p>
                        <img src="assets/images/icons/featured-communities.png" alt="">
                    </div>

                    <div class="new-release-container">
                        <div class="new-button"><span class="sky-blue button-neww">New </span></div>
                        <h4>New Map Search</h4>
                        <p>Add a Featured Communities section to your website's Home page where visitors can get to your communities listings in one click.
                            <span>( Agent IDX Packages Only)</span></p>
                        <img src="assets/images/icons/featured-communities.png" alt="">
                    </div>

                    <div class="new-release-container">
                        <div class="new-button"><span class="sky-blue button-neww">New </span></div>
                        <h4>Email Alert Popups</h4>
                        <p>Add a Featured Communities section to your website's Home page where visitors can get to your communities listings in one click.
                            <span>( Agent IDX Packages Only)</span></p>
                        <img src="assets/images/icons/featured-communities.png" alt="">
                    </div>
                </div>
            </div>
            <!-- <div class="col"></div> -->
        </div>
    </div>

</section>