<app-client-navbar></app-client-navbar>
<section class="py-4 py-5 rl-blue drip-email drip-email-marketing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="card ">
                            <div class="card-header">Drip Email</div>
                            <div class="card-body">
                                <p>Add & Manage your drip emails.</p>
                                <a href="" type="button" class="btn btn-danger mt-3"><i class="fa fa-plus"></i> New Email</a>
                                <div class="bg-email mt-3">
                                    <p>Lorem, ipsum dolor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <app-drip-email-marketing-sidebar></app-drip-email-marketing-sidebar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>