<footer class="v__footer_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer-col">
                <div class="footer-box">
                    <ul class="ft_menu">
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                        <li><a href="">Referral Program</a></li>
                        <li><a href="">Affiliate Program</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 footer-copyright">
                &copy; 2021 Venera - All Right Reserved.
            </div>

        </div>

    </div>

</footer>