<div class="card">
    <div class="card-header">Contacts Here</div>
    <div class="card-body">
        <div class="sidebar-pannel-email">

            <div class="sidebar-row">
                <ul>
                    <li><a routerLink="/profile">Profile</a></li>
                </ul>
            </div>

            <div class="sidebar-row">
                <ul>
                    <li><a routerLink="/email-settings">Email Settings </a></li>
                </ul>
            </div>

            <div class="sidebar-row">
                <ul>
                    <li><a routerLink="/meta-tags"> Meta Tags</a></li>
                </ul>
            </div>

            <div class="sidebar-row">
                <ul>
                    <li><a routerLink="/tracking-code"> Tracking Code</a></li>
                </ul>
            </div>

            <div class="sidebar-row">
                <ul>
                    <li><a routerLink="/change-password"> Change Password </a></li>
                </ul>
            </div>

            <div class="sidebar-row">
                <ul>
                    <li><a routerLink="/idx-membership"> Sign Up </a></li>
                </ul>
            </div>

            <div class="sidebar-row">
                <ul>
                    <li><a routerLink="#">Make Payment </a></li>
                </ul>
            </div>
        </div>

    </div>
</div>