<app-client-navbar>
</app-client-navbar>
<section class="py-5 rl-blue video-tutorial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Video Tutorials</div>
                    <div class="card-body mx-3">
                        <div class="row">
                            <!-- <div class="col-md-10 offset-md-1"> -->
                            <div class="col-md-12 mt-5 float-left">
                                <div class="card">
                                    <div class="card-header">
                                        Theme Customization
                                    </div>
                                    <div class="card-body mx-3">
                                        <div class="video-content">
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Change Colors and Fonts on Your Theme</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>Configure Your Theme Cover Slider Photos</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-5 float-left">
                                <div class="card">
                                    <div class="card-header">
                                        Navigation
                                    </div>
                                    <div class="card-body mx-3">
                                        <div class="video-content">
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>Configure Your Top and Sidebar Navigation and Drop Down Menus</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-5 float-left">
                                <div class="card">
                                    <div class="card-header">
                                        Online Text and Image Editor
                                    </div>
                                    <div class="card-body mx-3">
                                        <div class="video-content">
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How To Add Text, Photos, Links </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Insert Images Into Your Website </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>

                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Add a Video/Widget to a Page on Your Website </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-5 float-left">
                                <div class="card">
                                    <div class="card-header">
                                        Misc
                                    </div>
                                    <div class="card-body mx-3">
                                        <div class="video-content">
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Create a Call-to-Action Bar</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Upload a Document to a Page </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Create Custom Forms</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>

                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Add a Video/Widget to a Page on Your Website </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-5 float-left">
                                <div class="card">
                                    <div class="card-header">
                                        Communities & Listing Sliders
                                        <span class="new-btn">New</span>
                                    </div>
                                    <div class="card-body mx-3">
                                        <div class="video-content">
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>Overview </h6>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, excepturi?</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Upload a Document to a Page </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Create Custom Forms</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>

                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Add a Video/Widget to a Page on Your Website </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-5 float-left">
                                <div class="card">
                                    <div class="card-header">
                                        Markets
                                    </div>
                                    <div class="card-body mx-3">
                                        <div class="video-content">
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>Creating Markets (Saved MLS Searches)</h6>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, excepturi?</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Create a Specific Page on Your Website for a Market</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Change Your Featured Properties to be a Certain Market </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>

                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Add a Video/Widget to a Page on Your Website </h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-5 float-left">
                                <div class="card">
                                    <div class="card-header">
                                        Newsletter
                                    </div>
                                    <div class="card-body mx-3">
                                        <div class="video-content">
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>Creating Markets (Saved MLS Searches)How to Configure Your Monthly Email Newsletter </h6>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, excepturi?</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Create a Specific Page on Your Website for a Market</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                            <div class="video-content-wrapper d-flex">
                                                <div class="vid-heading">
                                                    <h6>How to Schedule Your Newsletter</h6>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <a href=""><img src="assets/images/icons/imag-new/viral-real-estate-video.webp" alt=""></a>
                                                <a href=""><img src="assets/images/icons/imag-new/youtube_(1).webp" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>