<app-client-navbar>
</app-client-navbar>
<section class="py-4 py-5 rl-blue drip-email drip-email-setting">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="card ">
                            <div class="card-header">Drip Email Settings</div>
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</p>
                                <div class="drip-email-form">
                                    <form action="">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label>Global Footer</label>
                                                <textarea name="text" class="form-control"></textarea>
                                                <p>1000 character limit</p>
                                                <a href="" type="submit" class="btn btn-primary btn-brand-03 mt-3">Save</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <app-drip-email-marketing-sidebar></app-drip-email-marketing-sidebar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>