<header  class="container-fluid container-menu head__menu_section">
    <div class="container header-wrap">
        <div class="navbar-header">
            <a class="navbar-brand brand-logo" href="#">
                <img class="img-responsive brand" src="assets/images/logo.png" alt="">
            </a>
        </div>
        <nav class="main_navigation">
            <div class="head_contact">
                <a class="head_num" href=""><i class="fa fa-phone" aria-hidden="true"></i> (877) 500-1588</a>
                <a href="">Support</a>
                <span class="head_social">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </span>
            </div>
            <div class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler" >
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" routerLink="" routerLinkActive="active">Home</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/advanced-idx-mls-solution" routerLinkActive="active">Advanced IDX MLS Solution</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
                        <li *ngIf="!(isLoggedIn$ | async)" class="nav-item"><a class="nav-link" routerLink="/free-trial" routerLinkActive="active">Free Trial</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
                        
                        <li *ngIf="!(isLoggedIn$ | async)" class="nav-item"><a class="nav-link" routerLink="/client-login" routerLinkActive="active">Client Login</a></li>
                        <li *ngIf="(isLoggedIn$ | async)" class="nav-item"><a class="nav-link" routerLink="/client-dashboard" routerLinkActive="active">Dashboard</a></li>
                        <li *ngIf="(isLoggedIn$ | async)" class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
                        
                    </ul>
                    
                </div>
            </div>
        </nav>
    </div>
</header>
