<app-client-navbar>
</app-client-navbar>
<section class="Contacts-section Tasks-section">
    <div class="contacts-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 contacts-panel">

                    <div class="contact-pannel-wrapper">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 contact-body-container">
                                <div class="card">
                                    <div class="card-header">Tasks</div>
                                    <div class="card-body">
                                        <div class="Tasks-content">
                                            <p>Schedule and track all tasks including meetings, phone calls, to-dos, travel and much more. To assign a task to a contact, add the task on your contact's page.</p>
                                            <h5 class="Tasks-heading">Tasks</h5>

                                            <div>

                                                <table *ngIf="taskCount" class="table table-striped ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col ">Day</th>
                                                            <th scope="col ">Date</th>
                                                            <th scope="col ">Task</th>
                                                            <th scope="col ">Contact</th>
                                                            <th scope="col "></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="contactsList " class="list ">
                                                        <tr *ngFor="let data of taskList">
                                                            <th scope="row ">{{data.date | date:'EEEE' }}</th>
                                                            <td>{{data.date | date:'MMMM d, y'}}</td>
                                                            <td>{{data.task}}</td>
                                                            <td>{{data.contact}}</td>
                                                            <td class="action">
                                                                <a mwlConfirmationPopover [popoverTitle]="popoverTitle " [popoverMessage]="popoverMessage " placement="top" (confirm)="deleteTask(data.id) " (cancel)="cancelClicked=true "><i class="fa
                                                    fa-trash-o " aria-hidden="true "></i></a>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <p *ngIf="!taskCount">You currently have no Task.</p>
                                            </div>

                                            <!-- <div *ngIf="!taskList" class="bg-content">
                                                <p>You currently have no tasks.</p>
                                            </div> -->

                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-4">
                                <app-contact-task-sidebar></app-contact-task-sidebar>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>

</section>