<!-- <div class="ManageTag-contacts-content"> -->
<p>Tags allow you to organize, categorize and label your contacts. To select all your contacts associated with a tag, click on the tag in your "Contacts Tag Cloud".</p>
<form style="margin:0 auto; max-width:1042px;" [formGroup]="contactTagsForm" (ngSubmit)="onSubmit()">
    <div class="add-new-tag">
        <div class="alert alert-danger den" role="alert">
            <i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i> Please enter a tag
        </div>

        <label>Tag</label>
        <input type="text" formControlName="tags" id="tags" class="form-control" [ngClass]="{'is-invalid': submitted && f.tags.errors}">
        <div *ngIf="submitted && f.tags.errors" class="text-danger">
            <div *ngIf="f.tags.errors.required">tags name is required</div>
        </div>
    </div>
    <button class=" btn btn-primary add-new-tag-butn ">Save</button>
    <h5 class="ManageTag-heading ">Tags</h5>
    <h6>Tag</h6>

    <!-- <div class="ManageTag-bg" *ngFor="let tags of tagList; let index = index;">
            <span> {{tags.tags}}
        <a routerLink="/edit-tag/{{tags.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color:#378805;"></i></a>
        <a mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right" (confirm)="deleteTags(tags.id)" (cancel)="cancelClicked = true"><i class="fa fa-trash" aria-hidden="true" style="color: #FF0000"></i></a></span>
        </div> -->
</form>
<!-- </div> -->