<app-client-navbar>
</app-client-navbar>
<section class="py-4 py-5 rl-blue Meta-tag-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="card ">
                            <div class="card-header">Meta Tags</div>
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</p>
                                <div class="Meta-tag-form">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-10">
                                                <label>Keywords</label>
                                                <p>Lorem ipsum dolor sit amet.</p>
                                                <textarea name="" class="form-control"></textarea>
                                                <p class="mets-para">300 character max</p>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-10">
                                                <label>Description</label>
                                                <p>Lorem ipsum dolor sit amet.</p>
                                                <textarea name="" class="form-control"></textarea>
                                                <p class="mets-para">300 character max</p>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <app-profile-sidebar></app-profile-sidebar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-email row">
                    <div class="col-md-4">
                        <div class="note">
                            <p><b>Tip:-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, veniam?</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="note">
                            <p><b>Note:-</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quae. <a href="">Support Ticket System.</a> </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>