
<div>
   
<section  class="ptb-100 overflow-hidden hero-equal-height blue-bg">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
            <div class="col-md-12 col-lg-6">
                <div class="hero-slider-content text-white py-5">
                    <div class="headline mb-4">
                        <p class="mb-0"><i class="fa fa-bell rounded-circle" aria-hidden="true"></i> <span>Affordable,
                                1st Class </span></p>
                    </div>
                    <h1 class="text-white">Real Estate Agent Websites setup in just a few minutes</h1>
                    <p class="lead">ONLY $24.95 /mo.<span>(NO Setup Fees, NO Contracts)</span></p>
                    <p>Responsive Mobile Friendly Design</p>
                    <div class="action-btns mt-4">
                        <a routerLink="/free-trial" routerLinkActive="active" class="btn btn-brand-03 btn-lg">Get Free Trial </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="img-wrap">
                    <img src="assets/images/hero-img-new.svg" alt="hosting" class="img-fluid">
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<section class="section section__advancedLead_section">
    <div class="container advancedLead_panel">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="adv-panel">
                    <h2>Advanced IDX Solution with Advanced Lead Capture</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col_panel">
                                <ul>
                                    <li>1. IDX Property Search</li>
                                    <li>2. Interactive Map Search</li>
                                    <li>3. Polygon "Draw on Map" Search</li>
                                    <li>4. Quick Search in Header</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col_panel">
                                <ul>
                                    <li>Auto-Populated Featured & Sold Properties</li>
                                    <li>Community and Market Pages</li>
                                    <li>Daily Email Property Alerts</li>
                                    <li>User Registration</li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="col_panel">
                                <ul>
                                    <li>Client Login Property & Search Organizer</li>
                                    <li>Clients can Save Searches/Save Properties</li>
                                    <li>Facebook App - Property Search</li>
                                    <li>Facebook App - Featured Properties</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <h4>Industry Best Pricing with NO Setup Fees - NO Contracts</h4>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section section_customization">
    <div class="container">
        <div class="section_heading text-center">
            <div class="heading_panel">
                <h2>Customizable Squeeze and Landing Pages</h2>
                <p>Create and customize unlimited Squeeze and Landing Pages for your website. Include lead capture and video. Redirect after submission. Track views and leads for each page.</p>
            </div>
        </div>
        <div class="row customization_grid_list">

            <div class="col-md-3">
                <div class="grid_panel">
                    <span class="icon_div">
                        <img src="assets/images/icons/relationship.png" />
                    </span>
                    <h4>Contact Relationship Manager</h4>
                    <p>A robust contact database engine makes it extremely easy to manage all your contacts and tasks. Leads coming into your website can be automatically added to the CRM. A calendar shows in easy view your scheduled tasks. The CRM is powerful,
                        easy, and FREE! </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="grid_panel">
                    <span class="icon_div">
                        <img src="assets/images/icons/newsletter.png" />
                    </span>
                    <h4>Monthly Email Newsletter</h4>
                    <p>A monthly email marketing newsletter can be sent to all your contacts. It is branded with your information and contains links to your website. Graphs and charts will show you in real-time who opens, clicks and forwards your newsletter.
                        This is FREE Email Marketing included with your website!</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="grid_panel">
                    <span class="icon_div">
                        <img src="assets/images/icons/email-marketing.png" />
                    </span>
                    <h4>Drip Email Marketing</h4>
                    <p>Configure drip emails and email campaigns to send out to your clients. Configure phone calls and other tasks with your campaigns.</p>
                </div>
            </div>

            <div class="col-md-3 last">
                <div class="grid_panel">
                    <span class="icon_div">
                        <img src="assets/images/icons/realestate.png" />
                    </span>
                    <h4>Single Property Websites</h4>
                    <p>Our Single Property Websites are included at no additional charge with our real estate agent websites. Create unlimited Single Property Websites showcasing your listings. The website includes big Call-to-Action buttons for "Schedule
                        a Showing" and "Request More Information" as well as ways to share the Property Website through the social networks. This provides a powerful tool in marketing your listing.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section section_MFS_section">
    <div class="container">
        <div class="row MFS_grid_list align-items-center">
            <div class="col-md-6 col-sm-6">
                <h3>Responsive Websites and Responsive IDX for Mobile Friendly Solutions</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
                <div class="action-btns mt-4">
                    <a href="#" class="btn btn-brand-03 btn-lg">Get Free Trial </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="img-wrap">
                    <img src="assets/images/cta-new.svg" alt="hosting" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section section_testimonial_section">
    <div class="container">
        <div class="section_heading text-center">
            <div class="heading_panel">
                <h2>What our agents are saying</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                </p>
            </div>
        </div>
        <div class="row testimonial_grid_list testimonials_slider align-items-center">
            <div class="slick-wrapper">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                        <div class="test_item">
                            <div class="test_panel">
                                <figure>
                                    <img src="{{slide}}" />
                                </figure>
                                <div class="test-info">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                    </p>
                                    <div class="action-btns mt-4">
                                        <a href="" class="btn btn-brand-03 btn-lg">View Website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>

        </div>
    </div>
</section>

<section class="section section_themes_section grey-bg">
    <div class="container">
        <div class="section_heading text-center">
            <div class="heading_panel">
                <h2>New Theme Designs</h2>
                <p>Customize the cover photo, fonts and colors to match your area, logo, and branding.</p>
            </div>
        </div>
        <div class="row themes_grid_list themes_slider align-items-center">
            <div class="slick-wrapper">

                <!-- You can now use your library component in app.component.html -->
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                        <div class="theme_item">
                            <div class="theme_panel">
                                <figure>
                                    <img src="{{slide}}" alt="" width="100%">
                                </figure>
                                <div class="theme-info">
                                    <h4><a href="">View Starter IDX Demo</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>

            </div>
        </div>
    </div>
</section>

<section class="section section_cta_section blue-bg">
    <div class="container">
        <div class="row themes_grid_list align-items-center">
            <div class="col-md-12">
                <h2>What are you waiting for?<br />Get started with us today!</h2>
                <p class="lead">15-Day Free Trial</p>
                <div class="action-btns mt-4">
                    <a href="#" class="btn btn-brand-03 btn-lg" tabindex="0">Start Free Trial</a>
                </div>
                <p class="small">No Obligation - No Credit Card Required</p>
            </div>
        </div>
    </div>
</section>
</div>
<ng-template #myFlagFalse>
<app-commingsoon></app-commingsoon>
  </ng-template>