<app-client-navbar>
</app-client-navbar>
<section class="Contacts-section">
    <div class="contacts-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-2 calander-view-wkl mt-5 ">
                    <h3>Calendar</h3>
                    <a routerLink="/weekly-view">Weekly  View</a> &nbsp; <a routerLink="/calendar">Monthly View</a>
                </div>
                <div class="col-md-4 col-sm-4  offset-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="contacts-sidebar-panel">
                                <div class="contacts-sidebar-wrapper">
                                    <div class="cnt_sidebar_nav_row">
                                        <ul class="side_links">
                                            <li class="link_orange">
                                                <a routerLink="/add-new-task"><i class="fa fa-plus"></i>Add New Task</a>
                                            </li>
                                            <li>
                                                <a routerLink="/view-tasks"><i class="fa fa-plus"></i>View All Task</a>
                                            </li>
                                            <li>
                                                <a routerLink="/view-all-contacts"><i class="fa fa-plus"></i>View All Contacts</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <p>The Weekly Calendar View is not yet available.</p>
                </div>
            </div>
        </div>
    </div>
</section>