<app-client-navbar>
</app-client-navbar>
<section class="py-4 py-5 rl-blue Change-paswrd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="card ">
                            <div class="card-header">Change Password</div>
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</p>
                                <div class="Email-setting-form">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Old Passward</label>
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>



                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>New Passward</label>
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Confirm New Passward</label>
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <app-profile-sidebar></app-profile-sidebar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>