<app-client-navbar>
</app-client-navbar>
<section class="py-4 py-5 rl-blue  drip-email-campaigns-email">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="card ">
                            <div class="card-header">Schedule Contacts for Drip Email Campaigns</div>
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas natus dolores a, vitae soluta dicta.</p>
                                <div class="alert alert-warning" role="alert"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, cumque?
                                    <a href="">Sign Up</a>
                                </div>
                                <div class="bg-email mt-3">
                                    <h6><i class="fa fa-search" aria-hidden="true"></i>Search and Select Contact</h6>
                                    <div class="schedule-campaign-form">
                                        <form action="">
                                            <input type="text" class="form-control" placeholder="First or Last Name">
                                            <a href="" type="submit" class="btn btn-danger btn-brand-03">Search Contact</a>
                                        </form>
                                    </div>
                                </div>

                                <div class="bg-email mt-3">
                                    <h6><i class="fa fa-calendar " aria-hidden="true"></i>Campaigns Scheduled</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 ">
                        <app-drip-email-marketing-sidebar></app-drip-email-marketing-sidebar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>