<app-client-navbar></app-client-navbar>
<section class="py-4 py-5 rl-blue newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="card ">
                    <div class="card-header">drip email marketing newsletter</div>
                    <div class="card-body">
                        <div class="drip-newsletter row">
                            <div class="col-md-8">
                                <div class="newsletter-left">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            <img src="assets/images/icons/video-camera.png" alt=""> Video Tutorials
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <div class="newsletter-play-btn">
                                                <a href="" class="btn btn-primary"><img src="assets/images/icons/video-camera.png" alt="">Play</a>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, accusamus!</p>
                                            </div>
                                            <br>
                                            <div class="newsletter-play-btn">
                                                <a href="" class="btn btn-primary"><img src="assets/images/icons/video-camera.png" alt="">Play</a>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, accusamus!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="newsletter-right">
                                    <a href="" class="btn btn-danger"> <i class="fa fa-search" style="font-size:14px;margin: 0px 5px;"></i>Preview Newsletter</a>
                                    <br>
                                    <a href="" class="btn btn-danger"> <i class="fa fa-clock-o" style="font-size:14px;margin: 0 5px;"></i>Schedule Newsletter</a>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-warning" role="alert">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, itaque?
                            <a routerLink="/idx-membership">Sign Up Now</a>
                        </div>


                        <div class="col-md-12">
                            <div class="newsletter-form-section">
                                <div class="inner-news-form d-flex">
                                    <div class="newsletter-left-content">
                                        <h6>one</h6>
                                    </div>
                                    <div class=" newsletter-right-content">
                                        <h6>one</h6>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="inner-news-form d-flex ">
                                    <div class=" newsletter-left-content">
                                        <h6>one</h6>
                                    </div>
                                    <div class="newsletter-right-content">
                                        <h6>one</h6>
                                        <input type="text">
                                    </div>
                                </div>


                                <div class="social-section col-md-8">
                                    <p><b>The form </b>below contains three inline radio <a href="">buttons:</a></p>
                                    <form>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="defaultInline1">
                                            <label class="custom-control-label" for="defaultInline1">Option1</label>
                                        </div>

                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="defaultInline2">
                                            <label class="custom-control-label" for="defaultInline2">Option2</label>
                                        </div>

                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="defaultInline3">
                                            <label class="custom-control-label" for="defaultInline3">Option1</label>
                                        </div>

                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="defaultInline4">
                                            <label class="custom-control-label" for="defaultInline4">Option2</label>
                                        </div>
                                    </form>
                                </div>


                                <div class="newsletter-information-section row">
                                    <div class="col-md-3">
                                        <div class="newsletter-information-inner">
                                            <h6>Photo</h6>
                                            <!-- Default inline 1-->
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="defaultInline1">
                                                <label class="custom-control-label" for="defaultInline1">Option1</label>
                                            </div>
                                            <br>
                                            <!-- Default inline 2-->
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="defaultInline2">
                                                <label class="custom-control-label" for="defaultInline2">Option2</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="newsletter-information-inner">
                                            <h6>Logo</h6>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="defaultInline3">
                                                <label class="custom-control-label" for="defaultInline3">Option1</label>
                                            </div>
                                            <br>
                                            <!-- Default inline 2-->
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="defaultInline4">
                                                <label class="custom-control-label" for="defaultInline4">Option2</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="newsletter-information-inner">
                                            <h6>Contact Information</h6>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="defaultInline5">
                                                <label class="custom-control-label" for="defaultInline5">Option1</label>
                                            </div>
                                            <br>
                                            <!-- Default inline 2-->
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="defaultInline6">
                                                <label class="custom-control-label" for="defaultInline6">Option2</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="newsletter-information-inner">
                                            <h6>Links</h6>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="defaultInline7">
                                                <label class="custom-control-label" for="defaultInline7">Option1</label>
                                            </div>
                                            <br>
                                            <!-- Default inline 2-->
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="defaultInline8">
                                                <label class="custom-control-label" for="defaultInline8">Option2</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="newletter-banner-message-section row">
                                    <div class="col-md-6">
                                        <div class="banner-message">
                                            <p>Lorem, ipsum dolor. <a href="" class="btn btn-md btn-brand-03">Choose Banner</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="welcome-message">
                                            <p>Lorem, ipsum dolor. <a href="" class="btn btn-md btn-brand-03">Add</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="newsletter-Rss-listing-newsfeed row">
                                    <div class="col-md-6">
                                        <div class="Rss-newsfeeds">
                                            <strong>News/RSS Feed</strong>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="a" checked>
                                                <label class="form-check-label" for="exampleRadios1">
                                                Lorem, ipsum dolor.
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="b">
                                                <label class="form-check-label" for="exampleRadios2">
                                                Lorem, ipsum dolor.
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="c">
                                                <label class="form-check-label" for="exampleRadios3">
                                                Lorem, ipsum dolor.
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="d">
                                                <label class="form-check-label" for="exampleRadios4">
                                                Lorem, ipsum dolor.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="Rss-newsfeeds">
                                            <strong>Listings</strong>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="a" checked>
                                                <label class="form-check-label" for="exampleRadios1">
                                                Lorem, ipsum dolor.
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="b">
                                                <label class="form-check-label" for="exampleRadios2">
                                                Lorem, ipsum dolor.
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="c">
                                                <label class="form-check-label" for="exampleRadios3">
                                                Lorem, ipsum dolor.
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="d">
                                                <label class="form-check-label" for="exampleRadios4">
                                                Lorem, ipsum dolor.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="newletter-property-search-section row">
                                    <div class="col-md-6">
                                        <div class="property-search">
                                            <p>Lorem, ipsum dolor. <a href="" class="btn btn-md btn-brand-03">Choose image</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="value-request">
                                            <p>Lorem, ipsum dolor. <a href="" class="btn btn-md btn-brand-03">Choose image</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="newsletter-custom-footer-section col-md-8">
                                    <p><b>Custom footer: </b>below contains three inline radio <a href="" class="btn btn-md btn-brand-03">Add</a></p>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>