<app-client-navbar></app-client-navbar>
<section class="py-5 rl-blue Faq-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Frequently Asked Questions</div>
                    <div class="card-body mx-3">
                        <div class="bg-email my-3 ">
                            <div class="faq-links ">
                                <h6>Website</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>

                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6>Photos/Images</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>

                        <div class="bg-email my-3 ">
                            <div class="faq-links ">
                                <h6>Online Editor</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>

                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6>Lead Generation</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>

                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6>Listings</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>


                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6> MLS/IDX</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>


                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6>Referrals</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>


                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6>Website Statistics</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>

                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6>Domain Name</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>

                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6>Signup / Activate Website</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>

                        <div class="bg-email my-3">
                            <div class="faq-links ">
                                <h6>Misc</h6>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                                <a href="">Lorem ipsum dolor sit amet?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>