<section class="ptb-100 inner_banner_section blue-bg">
    <div class="container">
        <div
            class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
            <div class="col-md-12 col-lg-12">
                <div class="text-white py-5">
                    <h1 class="text-white">Advanced IDX MLS Solution</h1>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<section class="section section_content_wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 mb-4">
                <div class="content_section">
                    <h3>Better Property Search Design & Usability</h3>
                    <p>This is the main reason consumers go to real estate websites is to search for properties. The search provides a basic and advanced search options. The MLS Property Search is very easy to use and looks good. You're clients will want to come back to your website to use it.</p>

                    <h3>Call-to-Action Buttons</h3>
                    <p>The IDX MLS Search includes big Call-to-Action buttons. These are buttons that are highlighted for the user to click on. These are big and prevalent and "in-the-face" of the consumer. These include "Schedule a Showing", "Request More Info", etc.</p>
                    
                    <h3>User Registration - DON'T PROMPT IMMEDIATELY!!</h3>
                    <p>It's important to let the user get engaged with the searching before prompting for Registration. You don't want to prompt right away. This has been studied and surveyed that a user will leave the website right away if immediately prompted. Our IDX allows you to set when you want to prompt for registration. You can set it to after 'x' amount of searches where you define the 'x' or after 'x' amount of detailed property views. This allows the user to get engaged first so they feel comfortable to register and they know what they're registering for.</p>

                    <h3>Clients can Save Searches</h3>
                    <p>Clients can save Searches. This means they can come back to their search at anytime. You also have the ability to see what this saved search is in your IDX dashboard.</p>


                    <h3>Login Property Organizer - Clients can Save Properties</h3>
                    <p>Clients have an Online Property Organizer where they can save listings that they like. This means they can come back at anytime, log in to their Property Organizer, and view their saved listings. You also have the ability to see what these saved listings are in your IDX dashboard.</p>
                    
                    <h3>Daily Property Email Alerts</h3>
                    <p>Clients can set up a property search and any new listings hitting the MLS will be emailed directly to their inbox. You also have the ability via your IDX dashboard to see their Property Email Alert.</p>

                    <h3>Interactive Map Search</h3>
                    <p>An Interactive Map Search allows consumers to search via the Map instead of the regular property search page. It utilizes the latest mapping technology.</p>

                    <h3>Polygon "Draw on Map" Search</h3>
                    <p>Users can outline an area on a map to search for properties.</p>

                    <h3>Quick Search</h3>
                    <p>A Quick Search built into the header drives traffic to your IDX to capture leads.</p>

                    <h3>Auto-Populated Listings including Past Sales, Rentals, and Commercial</h3>
                    <p>Listings on your website are auto-populated. You have many pages including pages for your Featured Listings, Rentals, Commercial Listings, and Past Sales.</p>

                    <h3>Neighborhood & Community Pages (Markets)</h3>
                    <p>Create and link to pre-defined searches. For example, create a link within your website for properties for sale under $300,000 in a certain neighborhood.</p>

                    <h3>Facebook Apps (2) - Search & Featured Properties</h3>
                    <p>Two Facebook Apps. Allow users on your Facebook Page the ability to search for properties. Once they click submit, they will be automatically redirected to your website where the results will be displayed.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card pricing_table  shadow-md">
                    <div class="card-body">
                        <div class="text-center p-3 pricing-head">
                            <h5 class="card-title">My Agent IDX</h5>
                            <small>Large Companies</small>
                            <br><br>
                            <span class="h2">$49.95</span>/month
                            <br><br>
                        </div>
                        <p class="card-text text-center">No Setup Fees,
                            No Contracts</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body text-center">
                        <button class="btn btn-brand-03 btn-outline rounded-pill btn-lg">Start Free
                            Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section_MFS_section">
    <div class="container">
        <div class="row MFS_grid_list align-items-center">
            <div class="col-md-6 col-sm-6">
                <h3>Responsive Websites and Responsive IDX for Mobile Friendly Solutions</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable.</p>
                <div class="action-btns mt-4">
                    <a href="#" class="btn btn-brand-03 btn-lg">Get Free Trial </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="img-wrap">
                    <img src="assets/images/cta-new.svg" alt="hosting" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section section_cta_section blue-bg">
    <div class="container">
        <div class="row themes_grid_list align-items-center">
            <div class="col-md-12">
                <h2>What are you waiting for?<br />Get started with us today!</h2>
                <p class="lead">15-Day Free Trial</p>
                <div class="action-btns mt-4">
                    <a href="#" class="btn btn-brand-03 btn-lg" tabindex="0">Start Free Trial</a>
                </div>
                <p class="small">No Obligation - No Credit Card Required</p>
            </div>
        </div>
    </div>
</section>