<app-client-navbar></app-client-navbar>
<section class="py-4 py-5 rl-blue profile-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="card ">
                            <div class="card-header">Profile</div>
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</p>
                                <div class="profile-form">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Company/Broker</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Address </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">City</label>
                                                <input type="text" class="form-control" id="inputCity">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputState">State</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                    </select>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label for="inputZip">Zip</label>
                                                <input type="text" class="form-control" id="inputZip">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">Business Phone</label>
                                                <input type="number" class="form-control">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputState">Cell Phone</label>
                                                <input type="number" class="form-control">
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label>Fax</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row text-center">
                                            <div class="form-group ">
                                                <h6>Social Links</h6>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">
                                                            Follow Me
                                                            </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">
                                                            Follow Us
                                                            </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Facebook</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Twitter</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>


                                            <div class="form-group col-md-4">
                                                <label for="inputCity">LinkedIn</label>
                                                <input type="number" class="form-control">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputState">YouTube</label>
                                                <input type="number" class="form-control">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label>Instagram </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <app-profile-sidebar></app-profile-sidebar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-email row">
                    <div class="col-md-4">
                        <div class="profile-note">
                            <p><b>Note:-</b> Adding profile information will increase search engine rankings.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="profile-note">
                            <p><b>Note:-</b> If you need to change your login email address, please use our <a routerLink="/support-system">Support Ticket System.</a> </p>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>

</section>