<app-client-navbar></app-client-navbar>
<section class="py-4 py-5 rl-blue Referral-Dashboard-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">Referral Dashboard</div>
                    <div class="card-body">
                        <span><a href="" class="btn btn-md btn-brand-03"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                              Refer an Agent</a></span>
                        <div class="referral-dashboard-inner-section row">
                            <div class="col-md-4">
                                <div class="referral-earning referal-pannel">
                                    <h5>Earnning</h5>
                                    <p>Unpaid: $00</p>
                                    <p>Paid: $00</p>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="my-referral-wrapper referal-pannel">
                                    <form action="">
                                        <label for="">Referral link:</label>
                                        <input type="text">
                                    </form>

                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

                                    <div class="my-referral">
                                        <h6>My Referral</h6>
                                        <p>Currently have no referral</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>