<app-client-navbar></app-client-navbar>
<section class="py-4 py-5 rl-blue Leads-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">Leads</div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur.<a href=""> Lorem</a> Lorem ipsum dolor sit amet consectetur.</p>
                        <div class="leads-inner-checkbox-section">
                            <h6 class="custom-control-inline">CRM Settings</h6>
                            <!-- Default inline 1-->
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" id="">
                                <label class="">Lorem</label>
                                <div class="leads-img"><img src="assets/images/question-mark.png" alt=""></div>
                                <div class="leads-hide">Lorem ipsum dolor sit amet consectetur.</div>
                            </div>

                            <!-- Default inline 2-->
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" id="">
                                <label class="">Lorem</label>
                                <div class="leads-img"><img src="assets/images/question-mark.png" alt=""></div>
                                <div class="leads-hide">Lorem ipsum dolor sit amet consectetur.</div>
                            </div>

                            <!-- Default inline 3-->
                            <div class="custom-control btn">
                                <button type="submit" class=" leads-save-button" id="">Save</button>

                            </div>
                        </div>

                        <div class="leads-tab-section">
                            <div class="leads-tab-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">New Leads</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Saved Leads</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Deleted Leads</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">Spam/Junk </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                        <div class="tab-inner-wrapper">
                                            <h3>New Leads</h3>
                                            <p>There is no new leads</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                                        <div class="tab-inner-wrapper">
                                            <h3>Saved Leads</h3>
                                            <p>There is no saved leads</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                                        <div class="tab-inner-wrapper">
                                            <h3>Deleted</h3>
                                            <p>There is no Deleted leads</p>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="tabs-4" role="tabpanel">
                                        <div class="tab-inner-wrapper">
                                            <h3>Spam/Junk</h3>
                                            <div class="alert alert-warning" role="alert">
                                                Lorem ipsum dolor sit amet. <a routerLink="/support-system">Support ticket system</a>
                                            </div>

                                            <div class="alert alert-warning" role="alert">
                                                Lorem ipsum dolor sit amet. <a href="">Top 10 SEO </a> <a href="">Google Article on SEO </a>
                                            </div>

                                            <p>There is no Spam/junk</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>