<app-client-navbar></app-client-navbar>
<section class="py-4 py-5 rl-blue RoadMap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">Road Map</div>
                    <div class="card-body">
                        <p>Follow the road map steps below to build your website.</p>
                        <div class="bg-email mt-3">
                            <div class="road-map-content">
                                <h5><img src="assets/images/icons/number-1.png" alt="">Choose Theme</h5>
                                <div class="road-map-content-wrapper">
                                    <div class="road-map-links">
                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                        <ul>
                                            <li class="roadmap-show li-check d-flex ">
                                                <span></span>
                                                <a href=""> Choose Theme</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bg-email mt-5">
                            <div class="road-map-content">
                                <h5><img src="assets/images/icons/number-2.png" alt=""> Select Pages</h5>

                                <div class="road-map-content-wrapper">
                                    <div class="road-map-links">
                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                        <ul>
                                            <li class="roadmap-show li-check d-flex">
                                                <span></span>
                                                <a href="">Select Pages</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bg-email mt-5">
                            <div class="road-map-content">
                                <h5><img src="assets/images/icons/number-3.png" alt="">Enter Content</h5>
                                <div class="road-map-content-wrapper">
                                    <div class="road-map-header-content">
                                        <h6>A. Header Content</h6>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                        <div class="road-map-links">
                                            <ul>
                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Header Content</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="road-map-Full-Sidebar-Control">
                                        <h6>B. Full Sidebar Control</h6>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                        <div class="road-map-links">
                                            <ul>
                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="road-map-Center Content">
                                        <h6>C. Center Content</h6>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                        <div class="road-map-links">
                                            <ul class="road-map-ul">
                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>

                                                <li class="roadmap-show li-check d-flex">
                                                    <span></span>
                                                    <a href="">Sidebars</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bg-email mt-3">
                            <div class="road-map-content">
                                <h5>IDX MLS Search Integration</h5>
                                <div class="road-map-content-wrapper">
                                    <p><b>What is IDX?</b> - Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                                    <p><b>What are my IDX options?</b> How do I get the MLS Search on my website?</p>
                                    <p><b>OPTION #1</b> - Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                                    <p><b>OPTION #2 </b>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, maiores?</p>
                                    <div class="rm-search-integration">
                                        <ul>
                                            <li class="road-image"></li>
                                            <li>
                                                <a href="">IDX Features</a>
                                            </li>
                                            <li>
                                                <a href="">IDX Demo</a>
                                            </li>
                                            <li>
                                                <a href="">IDX Packages & Pricing</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="alert alert-success" role="alert">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, amet.
                                    </div>
                                    <div class="alert alert-success" role="alert">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, deleniti.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bg-email mt-5">
                            <div class="road-map-content">
                                <h5><img src="assets/images/icons/number-4.png" alt=""> Activate Site</h5>
                                <div class="road-map-content-wrapper">
                                    <div class="road-map-links">
                                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                                        <ul>
                                            <li class="roadmap-show li-check d-flex ">
                                                <span></span>
                                                <a href="">Activate Site</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="road-map-sidebar">
                    <div class="bg-email mt-5">
                        <div class="road-map-content row text-center">
                            <div class="col">
                                <h6>Need Help?</h6>
                                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            </div>
                            <div class="col">
                                <h6>Advanced Settings</h6>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                                <a href="">Website Settings</a>
                            </div>
                            <div class="col">
                                <h6>Advanced Settings</h6>
                                <p>Lorem ipsum dolor sit amet consecte</p>
                                <a href="">Add IFramed Pages</a>
                            </div>
                            <div class="col">
                                <h6>Advanced Settings</h6>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <a href="">Order Page Navigation</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>