<app-client-navbar></app-client-navbar>
<section class="py-4 py-5 learn-more-page rl-blue">
    <div class="container">
        <div class="lm-heading-content text-center"><span><img src="assets/images/logo.png" alt=""></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card mt-5">
                    <div class="card-header">WHAT?</div>
                    <div class="card-body">
                        <p>Let us do it for you!!</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni pariatur eum obcaecati, accusamus ducimus deleniti?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, aliquam!</p>
                        <ol class="ml-3">
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ol>
                    </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header">WHERE?</div>
                    <div class="card-body">
                        <ul class="ml-3">
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header">WHEN?</div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dignissimos aperiam fugiat maiores illo ea laudantium odio. Magni, molestiae, quos nemo quam perferendis repudiandae, dolore laboriosam doloremque fugit consequatur iure!</p>
                    </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header">WHY?</div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dignissimos aperiam fugiat maiores illo ea laudantium odio.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eligendi odio facere quam doloremque ut!</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam dolores beatae similique culpa ea quaerat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae minus molestiae optio praesentium harum repellendus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>