<app-client-navbar></app-client-navbar>
<section class="py-5 Marketing_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Realpro Agent SOCIAL<i class="fa fa-facebook-square" style="font-size:18px;margin: 0 5px;"></i> <i class="fa fa-twitter-square" style="font-size:18px;margin: 0 5px;"></i><i class="fa fa-linkedin-square" style="font-size:18px;margin: 0 5px;"></i></div>
                    <div class="card-body mx-3">
                        <span><img src="assets/images/logo.png" alt=""></span>
                        <h6>Our #1 Tool for Building Your Referral Network and Getting Referral Leads!!</h6>
                        <p style="font-size:16px;font-weight: 600;margin-bottom: 0;"> Let us do it for you!!</p>
                        <p>Our team of professional social media experts keep your Facebook and Twitter (LinkedIn coming soon) up-to-date with your communities latest listings and open houses, and enticing real estate articles saving you valuable time for
                            what you do best. This service drives traffic to your website and provides a lead capture squeeze page built in for getting more leads. It is the #1 tool our clients use to get leads to their website</p>
                        <a routerLink="/learn-more" class="btn btn-danger">Load More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-10 offset-md-1"> -->
            <div class="col-md-6 mt-5 float-left">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-facebook-square" style="font-size:18px;margin: 0 5px;"></i>Facebook Ads $200
                    </div>
                    <div class="card-body mx-3">
                        <p>Buy Facebook Ads in $200 increments. Contact your rep for details</p>
                        <p style="font-size:16px;font-weight: 600;margin-bottom: 0;"> Let us do it for you!!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sed voluptate vitae, asperiores ad aspernatur!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 float-right">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-google-plus-square" style="font-size:18px;margin: 0 5px;"></i>Google Ads $500
                    </div>
                    <div class="card-body mx-3">
                        <p>Buy Google Ads in $500 increments. Contact your rep for details.</p>
                        <p style="font-size:16px;font-weight: 600;margin-bottom: 0;"> Let us do it for you!!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis natus ipsa eligendi!</p>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <div class="row">
            <!-- <div class="col-md-12"> -->
            <div class="col-md-6 mt-5 float-left">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-facebook-square" style="font-size:18px;margin: 0 5px;"></i> Drip Email Marketing
                    </div>
                    <div class="card-body mx-3">
                        <p>Buy Facebook Ads in $200 increments. Contact your rep for details</p>
                        <p style="font-size:16px;font-weight: 600;margin-bottom: 0;"> Let us do it for you!!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi pariatur quos temporibus.</p>
                        <a routerLink="/drip-email-marketing" style="color: #c00;">Drip Email Marketing</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 float-right">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-google-plus-square" style="font-size:18px;margin: 0 5px;"></i> Ad Generator
                    </div>
                    <div class="card-body mx-3">
                        <p>Buy Google Ads in $500 increments. Contact your rep for details.</p>
                        <p style="font-size:16px;font-weight: 600;margin-bottom: 0;"> Let us do it for you!!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident commodi exercitationem blanditiis?</p>
                        <a routerLink="/add-dashbord" style="color: #c00;">Ad Dashboard</a>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-envelope" style="font-size:18px;margin: 0 5px;"></i>Email Marketing via VerticalResponse (VR) <img src="assets/images/logo.png" alt="">
                    </div>
                    <div class="card-body mx-3">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolore quaerat quo!</p>
                        <a routerLink="/get-started" type="button" class="btn btn-danger">Get Start Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-12 "> -->
            <div class="col-md-6 mt-5 float-left">
                <div class="card">
                    <div class="card-body mx-3">
                        <span><img src="assets/images/logo.png" alt=""></span>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab laborum voluptates atque? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab laborum voluptates atque? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Ab laborum voluptates atque? Lorem, ipsum dolor sit amet consectetur adipisicing voluptates
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 float-right">
                <div class="card">
                    <div class="card-body mx-3">
                        <h3>Benefits of VerticalResponse</h3>
                        <ul class="marketing-benefit-section" style="margin-left: 25px;">
                            <li><strong>Flexible</strong> Pay-As-You-Go Pricing - No Contracts</li>
                            <li><strong>Industry Leading </strong>98%+ Inbox Delivery</li>
                            <li><strong>700+</strong>Professional Email Templates</li>
                            <li><strong>Real-Time Results</strong>- Who Opened, Who Clicked</li>
                            <li><strong>Award winning</strong> 7 Days-a-Week Support</li>
                            <li>The <strong>Easiest</strong> Way to Start Email Marketing!</li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <div class="card mt-5">
                    <div class="card-header"> Email Creation Made Easy</div>
                    <div class="card-body">
                        <div class=" col-md-7 float-left">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, soluta quaerat nemo ratione nulla error?</p>
                            <ul class="ml-3">We have features galore in store for you. Take a look at what you get:
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis ducimus quis!</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam mollitia assumenda perferendis.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus quibusdam mollitia.</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quis. Obcaecati dolorem autem rerum reiciendis!</p>
                        </div>
                        <div class=" col-md-4 float-right">
                            <span><img src="assets/images/icons/demo1.png" alt=""></span>
                        </div>

                        <div class="col-md-7 float-left">
                            <h3>1. Email Wizard</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, modi libero. Possimus.</p>
                            <p>Other great features include:</p>
                            <ul class="ml-3">We have features galore in store for you. Take a look at what you get:
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                        <div class="col-md-4 float-right">
                            <span><img src="assets/images/icons/demo1.png" alt=""></span>
                        </div>

                        <div class="col-md-7 float-left">
                            <h3>2. Email Canvas</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae ea consectetur.</p>
                            <p>Other great features include:</p>
                            <ul class="ml-3">We have features galore in store for you. Take a look at what you get:
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                        <div class="col-md-4 float-right">
                            <span><img src="assets/images/icons/demo1.png" alt=""></span>
                        </div>

                        <div class="col-md-6 float-left">
                            <h3>3. Freeform HTML</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio sunt eligendi repellendus saepe? Ipsa voluptas veritatis molestiae quae optio mollitia commodi! Nostrum cum, tempora omnis voluptas provident facilis nulla laboriosam!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                        <div class="col-md-6 float-right">
                            <h3>4. Text Only Email</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio sunt eligendi repellendus saepe? Ipsa voluptas veritatis molestiae quae optio mollitia commodi! Nostrum cum, tempora omnis voluptas provident facilis nulla laboriosam!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <hr class="new-line">

                    <div class="card-body  ">
                        <div class="col-md-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptates fugiat debitis.</p>

                            <ul class="ml-3">We have features galore in store for you. Take a look at what you get:
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, ducimus?</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header">Get On Target and Segment Your Lists</div>
                    <div class="card-body  ">
                        <div class="col-md-7 float-left">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis amet veritatis qua
                            </p>

                            <h3>Clean and Manage Your Lists</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error veritatis accusantium delectus quisquam totam minima?</p>

                            <ul class="ml-3">We have features galore in store for you. Take a look at what you get:
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, ducimus?</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            </ul>
                        </div>

                        <div class="col-md-4 float-right">
                            <span><img src="assets/images/icons/demo1.png" alt=""></span>
                        </div>

                    </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header">Campaign Dashboard</div>
                    <div class="card-body  ">
                        <div class="col-md-7 float-left">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error veritatis accusantium delectus quisquam totam minima?</p>

                            <ul class=" ml-3">We have features galore in store for you. Take a look at what you get:
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, ducimus?</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            </ul>
                        </div>

                        <div class="col-md-4 float-right">
                            <span><img src="assets/images/icons/demo1.png" alt=""></span>
                        </div>

                        <div class="col-md-7 float-left">
                            <h3>Detailed Reports</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error veritatis accusantium delectus quisquam totam minima?</p>

                            <ul class="ml-3">We have features galore in store for you. Take a look at what you get:
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, ducimus?</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            </ul>
                        </div>

                        <div class="col-md-4 float-right">
                            <span><img src="assets/images/icons/demo1.png" alt=""></span>
                        </div>

                        <div class="col-md-7 float-left">
                            <h3>After the Click</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error veritatis accusantium delectus quisquam totam minima?</p>

                            <ul class="ml-3">We have features galore in store for you. Take a look at what you get:
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, ducimus?</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            </ul>
                        </div>

                        <div class="col-md-4 float-right">
                            <span><img src="assets/images/icons/demo1.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>